<div class="container-fluid">
	<h3>Rango de edad</h3>
		<select class="form-control">
		  <option>20-24</option>
		  <option>25-29</option>
		  <option>30-34</option>
		  <option>35-39</option>
		  <option>40-44</option>
		  <option>45 en adelante</option>
		</select>
		<br>
	<h3>Estatura promedio</h3>
		<select class="form-control">
		  <option>1,50-1,59</option>
		  <option>1,60-1,69</option>
		  <option>1,70-1,79</option>
		  <option>1,80-1,89</option>
		  <option>Superior a 1,90</option>
		</select>
		<br>
	<h3>Silueta</h3>
	<h4>Si quieres saber mas sobre tu tipo de cuerpo y silueta consulta nuestra gu&iacute;a <a href="guia_silueta.html">aqu&iacute;</a></h4>
		<select class="form-control">
		  <option>Tipo pera</option>
		  <option>Tipo manzana</option>
		  <option>Tipo ladrillo</option>
		  <option>Tipo reloj de arena</option>
		  <option>Tipo cono</option>
		  <option>Tipo pino de bowling</option>
		  <option>Tipo florero</option>
		  <option>Tipo chupet&iacute;n</option>
		  <option>Tipo guitarra</option>
		</select>
		<br>
	<h3>Estilo</h3>
	<h4>Si quieres saber mas sobre tu estilo consulta nuestra gu&iacute;a <a href="guia_estilo.html">aqu&iacute;</a></h4>
		<select class="form-control">
		  <option>Cl&aacute;sico</option>
		  <option>Boho-chic</option>
		  <option>Minimalista</option>
		  <option>Rom&aacute;ntico</option>
		  <option>Glam-rock</option>
		  <option>Preppy</option>
		  <option>Muy personal</option>
		</select>
</div>