<div class="container-fluid">
	<p>
TIPO PERA: 
1-	En este tipo de cuerpo la cintura es fina por lo que se puede acentuar para llamar la atención a esta.
2-	Se pueden usar diseños en blusas para llamar atención a esta parte del cuerpo. 
3-	El mejor corte de pantalón es el de corte de bota o pierna ancha (sin exagerar)
4-	Las chaquetas o blazers deben de ser estructuradas, que definan el torso. 
5-	Cualquier accesorio que atraiga atención a la parte superior del torso como joyería, pañuelos etc. hacen que le cuerpo se vea mas balanceado
6-	Evitar usar faldas pegadas porque hacen que la cadera se vea más grande.
7-	Evitar usar pantalones pegados. Hacen que la cadera se vea más ancha. 
8-	Evitar las faldas o vestidos cortos que harán que la cadera se vea más grande. 

TIPO MANZANA 
1-	Trata de usar blazers o chaquetas que no aprieten el torso. Pueden o no tener cintura definida pero es preferible que no sean pegados.  
2-	El uso de un solo color o monocromático ayudara a que el torso se vea más largo y delgado  
3-	Los pantalones preferiblemente deben de ser de pierna recta.
4-	Las faldas y vestidos cortos son ideales para así mostrar las  piernas que generalmente en este tipo de cuerpo son delgadas.  
5-	Evita las blusas pegadas  
6-	Si tienes grasa en el estomago usa blusas con ligero corte en V y cruzados en el talle, evita siempre usar rayas verticales, porque harán que se vea mas grande tu barriga.  
TIPO LADRILLO: 
En este tipo de cuerpo el busto es pequeño y también las nalgas. Es un cuerpo común en las modelos de pasarela.
1-	Lo más importante es definir tu cintura y crear curvas. Para esto usa ropa estructurada con cintura definida y cinturones  
1-	Prefiere usar un solo color
2-	Prueba los tejidos suaves y femeninos con bordados ligeros y detalles
3-	Evita ropa con cuello cuadrado
4-	Evita trajes (de oficina) sin la cintura definida 
5-	Evita pantalones con pierna ancha, el tipo de pantalón ideal para ti es el de corte recto  

TIPO RELOJ DE ARENA 
1-	Es un tipo de cuerpo deseado. Si tienes este tipo de cuerpo siéntete muy afortunada y sácale provecho. 
2-	Con este tipo de cuerpo se puede usar casi todos los estilos.  
3-	Sácale provecho a tu cintura fina usando ropa definida, pegada a tu cuerpo.
4-	Selecciona ropa que marque tu cintura.  
5-	Los estilos de los años 40s, 50s y 60, son ideales para este tipo de cuerpo. 
6-	Los cinturones finos son preferibles a los gruesos pero en una persona  delgada ambos quedan bien.  	
7-	Evita las faldas y vestidos muy cortos que harán que tu cadera se vea más  ancha.  

TIPO CONO: 

1-	Evita blusas con hombros protuberantes 
2-	Usa colores oscuros en blusas 
3-	Prefiere el cuello V o usa collares que creen la forma V preferiblemente delgado 
4-	Evita estilo de blusas “wrap” o sea de las que se envuelven o traslapa 
5-	Evita líneas horizontales en parte de los hombros. Si usas rayas úsalas verticales 
6-	Evita collares cortos a menos que seas delgada y tu cuello sea largo
7-	Evita ropa y detalles que traigan la atención a los hombros 
8-	Las chaquetas o blazers debe de llegar hasta la cadera en lugar de la cintura. 

TIPO PINO DE BOWLING: 

1-	Este tipo de cuerpo es el que tiene la mitad superior delgada y esto hace que se ensanche dramáticamente en la parte inferior. El problema para estas mujeres es, sin duda alguna, la cola. Intentan de todas las maneras posibles de taparla. 
2-	Rayas verticales en pantalones y polleras 
3-	Solapas anchas en los sacos para que el foco de atención sea la parte los hombros. 
4-	Zapatos de tacos altos para alargar las piernas. 

TIPO FLORERO: 

1-	La parte superior del cuerpo es estrecha en comparación con la inferior y los pechos son demasiado grandes, pero generalmente tienen una cintura de estrecha a normal y hombros pequeños.
2-	Un saco con un solo botón en una campera hará énfasis en tu zona más finita. 
3-	Los escotes amplios crean un balance entre tus pechos y el resto del cuerpo. 
4-	Evita las faldas tipo tubo o pantalones demasiado estrechos.
5-	Las Faldas en corte A justo encima o justo debajo de las rodillas. 
6-	Los Pantalones ideales para ti son los de línea Recta. 

TIPO CHUPETÍN (BONBÓN): 

1.	Es uno de los tipos de cuerpos favorito de los hombres, con grandes pechos y piernas largas y flacas. En este tipo de cuerpo los hombros no son lo suficientemente anchos para soportar el peso de los pechos, por lo que debes prestarle atención a tu postura. 
2.	El brasier adecuado que mantenga los pechos en su justo lugar. 
3.	Zapatos de tacos altos para resaltar las piernas delgadas. 
4.	Vestidos que resalten la cintura.
5.	Pantalones de tipo campana para que tus pechos no parezcan demasiado grandes 
6.	Evita blusas con cuello alto y entalladas a la cintura. 
7.	Descarta la ropa que tenga mucho volumen en el pecho.

TIPO CAMPANA: 
1-	Este tipo de cuerpo te permite lucir como una mujer con una linda cola. Pero los años pasan y no hay cuerpo que lo resista. Las mejores prendas son las que crean hombros más anchos.  
2-	Usa pantalones oscuros de corte recto ajustados a las caderas.  
3-	Usa chaquetas y blusas con mangas que hagan te hagan lucir mas ancha en  esta parte de tu cuerpo.  
4-	Usa vestidos estampados que te permitan disimular el ancho de las  caderas, preferiblemente con volados o en corte A, no muy cortos porque  te harán lucir mucho mas ancha de caderas.  
5-	Evita a toda costa las faldas tipo tubo o los pantalones pitillos.  
6-	Evita estampados en la parte de tus caderas y bolsillos a los lados.  

 TIPO COPA: 
El problema aquí es en la parte de arriba, mucho más ancha que la parte inferior del cuerpo, y con esta forma triangular es un poco difícil vestir este tipo de cuerpo, la clave aquí es trasladar el foco de atención a las piernas. 
1-	Usa Escotes en V no muy pronunciados y cortes cuadrados en blusas. 
2-	Jamás uses cuellos altos. 
3-	Faldas en Corte A preferiblemente debajo de las rodillas. 
4-	Pantalones de corte rectos son los recomendados. 
5-	Vestidos en corte A no ajustados al cuerpo. 

TIPO CHELO: 
En muchos lugares conocido como cuerpo de guitarra, es el cuerpo ideal para cualquier mujer, hombros anchos, gran delantera, cintura marcada, caderas voluminosas pero no exagerada. 
1-	Usa Blusas con escote en V ya que ayudan a mostrar lo mejor de tus pechos, y también cuellos altos. 
2-	Pantalones de corte Recto 
3-	Vestidos entallados en la cintura en todos los estilos 
4-	Zapatos de plataformas y tacos altos que resalten los tobillos.
	</p>
</div>