<div class="container-fluid">
	<p>
ESTILO CLASICO
Si eres de este estilo, luces impecable, con looks elegantes, tiendes a preferir las telas lisas y por lo general te vistes de manera conservativa con respecto a otros estilos. Para ti lo mas importante es al calidad de tus prendas, y que hormen bien en tu cuerpo. Tu armario consiste de muchos colores neutros como el negro, gris, azul navy y beige. Prefieres mantener tus atuendos simples, de tipo empresarial y que perduren en el tiempo. Una tendencia a que tus complementos coincidan, (es decir, usas un bolso en un color que sea similar al de tus zapatos) está en su naturaleza. 
Referentes: Coco Chanel, Jackie O, Katie Holmes, Kate Middleton, Michelle Obama, Gwyneth Paltrow, Jennifer Aniston.
Prendas Clave: T-shirt, blazer, pantalones rectos.


ESTILO BOHO-CHIC
El boho-chic derivado de bohemio, fue una tendencia que inicio al inicio del año 2000. Tiendes a ser de espíritu libre, y muestras interés por lo artístico y te resistes a lo convencional. En tu armario podemos encontrar muchos prints exóticos y texturas, accesorios para la cabeza, pañoletas, complementos estilo vintage, y predominan los tonos densos, como marron y beige pero incluyendo toques de color. Este estilo esta ligado también al Gypsy (gitano) y al Hippie. Es una mezcla contradictoria de lo tradicional y no-tradicional, con aires frescos y relajados. 
Referentes: Sienna Miller, Kate Moss, Mary-Kate and Ashley Olsen, Nicole Richie, Kate Hudson, Vanessa Hudgens, Mischa Barton.
Prendas Clave: Vestido largo fresco, telas de ojalillo, tejidos y bordados, chalecos.


ESTILO CASUAL-CHIC
Este estilo es un poco difícil de definir, pero quizás es mejor descrito como “relajado” de una manera con mucho estilo. Ligado un poco al estilo clásico y no es muy arriesgada pero le gusta combinar sus prendas con accesorios llamativos. Elegante hace parte de la caracterización de este estilo también, pues te gusta lucir impecable, pero reflejando comodidad y practicidad. Tus atuendos tienden a ser “fácil de llevar” y multifuncionales, es decir que te sirvan para diferentes actividades de tu día a día. 
Referentes: Cameron Diaz, Reese Witherspoon, Sandra Bullock, Lauren Conrad, Karlie Kloss.
Prendas Clave: Camisillas sueltas, T-shirts con graficas, skinny jeans, shorts desgastados, sweaters, carteras grandes.


ESTILO MINIMALISTA
El minimalismo es una corriente estética que inicio en el siglo XX. La filosofía de este estilo es “menos es mas”. Te gusta vestirte de una manera muy simple, basándote en una monocromía, reduciendo al máximo la ostentidad. No te gusta nada exceso y tu gusta mantener tus outfits lo mas sencillos posibles proyectando una elegancia sutil y modesta. Tampoco se trata de evstir con menso piezas, sino que se trata de dejar atrás el juego de tendencias y lidiar solo con las prendas necesarias. Sobriedad es una palabra clave en este estilo. Tus colores de preferncia con colores que perduran en el tiempo como el negro, blanco, camel, navy, kaki. 
Referentes: Calvin Klein, Michelle Williams, Charlize Theron, Kate Mara, Julianne Hough.
Prendas Clave: Outfits monocromáticos, falda lápiz. 


ESTILO ROMANTICO
Este estilo como su nombre bien lo dice, evoca una mujer romántica, delicada, idealista y muy femenina. Tiene la caracterización de ser bastante complejo y con mayor estructura que otros estilos. El romanticismo tiende a exigir gran decoración la cual muchas veces llega a ser excesiva. Los estampados florales, las telas fluidas, los escotes profundos, hacen parte de este estilo. Es destacada la ornamentación en las superficies de las telas que caracteriza a este estilo. 
Referentes: Angelina Jolie, Rachel McAdams, Emmy Rossum, Marion Cotillard, Amanda Seyfried, Taylor Swift. 


ESTILO PREPPY
Este estilo tiene sus inicios en 1940 y era el look escolar de la élite norteamericana, siempre de acuerdo a las actividades de ese grupo: tenis, rugby, viaje en velero o bote…y más. Si perteneces a este estilo, tu gusta el look “escolar sofisticado”. Este estilo se caracteriza por proyectar intelectualidad, con un espiritu joven pero al mismo tiempo evocando aires del pasado. 
Referentes: Alexa Chung, Emma Watson, Olivia Palermo, Rachel Bilson.
Prendas Clave: Sweaters de gran tamaño, medias, Polo, cuellos abotonados, cardigans, zapatos Oxford.


ESTILO EXENTRICO
Excéntrico es un adjetivo calificativo que se utiliza para designar a aquellas personas que con su comportamiento demuestran haberse “salido de su centro”.
Por lo tanto, si perteneces a este estilo, eres una persona que no responde a lo que se considera normal o habitual para un individuo, ya sea por tu comportamiento o tu modo de expresarte, tu apariencia y actitudes. Te gusta salirte de lo común, y se puede decir que este estilo es lo apuesto al minimalismo, pues entre mas, mejor. 
Referentes: Rihanna, Lady Gaga, Michelle Harper, Gwen Stefani, Katy Perry. 


ESTILO MODERNO “FASHION FORWARD”
Este estilo se puede definir como: intrépido, trendy, camaleón, adaptable, urbano, ecléctico. Eres una persona que sigue tendencias, estas actualizada en el ámbito de la moda, y tienes mucho conocimiento sobre lo que se esta usando en el momento y lo que esta por venir. Te gusta combinar prendas de diferentes estilos para llegar a un atuendo muy original y actual. Te gusta llamar la atención y eres arriesgada al momento de vestirte, sin llegar a la excentricidad. 
Referentes: Sara Jessica Parker, Nicole Warne, Chiara Ferragni, Diane Fruger, Emma Watson, Blake Lively.
	</p>
</div>

