<div class="container-fluid">
	<button type="button" class= "btn btn-default btn-lg">&Uacute;ltima Colecci&oacute;n</button>
	<div class="btn-group btn-group-lg" role="group" aria-label="...">
		<button type="button" class="btn btn-default">Blusas/Camisas</button>
		<button type="button" class="btn btn-default">Blazers</button>
		<button type="button" class="btn btn-default">Faldas</button>
		<button type="button" class="btn btn-default">Pantalones</button>
		<button type="button" class="btn btn-default">Vestidos</button>
	</div>
</div>