var clothing = [
	{category: "falda",
	filename: "falda01.jpg"},
	{category: "falda",
	filename: "falda02.jpg"},
	{category: "falda",
	filename: "falda03.jpg"},
	{category: "falda",
	filename: "falda04.jpg"},
	{category: "falda",
	filename: "falda05.jpg"},
	{category: "falda",
	filename: "falda06.jpg"},
	{category: "falda",
	filename: "falda07.jpg"},
	{category: "falda",
	filename: "falda08.jpg"},
	{category: "falda",
	filename: "falda09.jpg"},
	{category: "falda",
	filename: "falda10.jpg"},
	{category: "falda",
	filename: "falda11.jpg"},
	{category: "falda",
	filename: "falda12.jpg"},
	{category: "falda",
	filename: "falda13.jpg"},
	{category: "falda",
	filename: "falda14.jpg"},
	{category: "falda",
	filename: "falda15.jpg"},
	{category: "falda",
	filename: "falda16.jpg"},
	{category: "falda",
	filename: "falda17.jpg"},
	{category: "falda",
	filename: "falda18.jpg"},
	{category: "falda",
	filename: "falda19.jpg"},
	{category: "falda",
	filename: "falda20.jpg"},
	{category: "falda",
	filename: "falda21.jpg"},
	{category: "falda",
	filename: "falda22.jpg"},
	{category: "falda",
	filename: "falda23.jpg"},
	{category: "falda",
	filename: "falda24.jpg"},
	{category: "falda",
	filename: "falda25.jpg"},
	{category: "falda",
	filename: "falda26.jpg"},
	{category: "falda",
	filename: "falda27.jpg"},
	{category: "falda",
	filename: "falda28.jpg"},
	{category: "falda",
	filename: "falda29.jpg"},
	{category: "pantalon",
	filename: "pantalon01.jpg"},
	{category: "pantalon",
	filename: "pantalon02.jpg"},
	{category: "pantalon",
	filename: "pantalon03.jpg"},
	{category: "pantalon",
	filename: "pantalon04.jpg"},
	{category: "pantalon",
	filename: "pantalon05.jpg"},
	{category: "pantalon",
	filename: "pantalon06.jpg"},
	{category: "pantalon",
	filename: "pantalon07.jpg"},
	{category: "pantalon",
	filename: "pantalon08.jpg"},
	{category: "pantalon",
	filename: "pantalon09.jpg"},
	{category: "pantalon",
	filename: "pantalon10.jpg"},
	{category: "pantalon",
	filename: "pantalon11.jpg"},
	{category: "pantalon",
	filename: "pantalon12.jpg"},
	{category: "pantalon",
	filename: "pantalon13.jpg"},
	{category: "pantalon",
	filename: "pantalon14.jpg"},
	{category: "pantalon",
	filename: "pantalon15.jpg"},
	{category: "pantalon",
	filename: "pantalon16.jpg"},
	{category: "pantalon",
	filename: "pantalon17.jpg"},
	{category: "pantalon",
	filename: "pantalon18.jpg"},
	{category: "pantalon",
	filename: "pantalon19.jpg"},
	{category: "pantalon",
	filename: "pantalon20.jpg"},
	{category: "pantalon",
	filename: "pantalon21.jpg"},
	{category: "pantalon",
	filename: "pantalon22.jpg"},
	{category: "pantalon",
	filename: "pantalon23.jpg"},
	{category: "pantalon",
	filename: "pantalon24.jpg"},
	{category: "pantalon",
	filename: "pantalon25.jpg"},
	{category: "pantalon",
	filename: "pantalon26.jpg"},
	{category: "blusa",
	filename: "blusa01.jpg"},
	{category: "blusa",
	filename: "blusa02.jpg"},
	{category: "blusa",
	filename: "blusa03.jpg"},
	{category: "blusa",
	filename: "blusa04.jpg"},
	{category: "blusa",
	filename: "blusa05.jpg"},
	{category: "blusa",
	filename: "blusa06.jpg"},
	{category: "blusa",
	filename: "blusa07.jpg"},
	{category: "blusa",
	filename: "blusa08.jpg"},
	{category: "blusa",
	filename: "blusa09.jpg"},
	{category: "blusa",
	filename: "blusa10.jpg"},
	{category: "blusa",
	filename: "blusa11.jpg"},
	{category: "blusa",
	filename: "blusa12.jpg"},
	{category: "blusa",
	filename: "blusa13.jpg"},
	{category: "blusa",
	filename: "blusa14.jpg"},
	{category: "blusa",
	filename: "blusa15.jpg"},
	{category: "blusa",
	filename: "blusa16.jpg"},
	{category: "blusa",
	filename: "blusa17.jpg"},
	{category: "blusa",
	filename: "blusa18.jpg"},
	{category: "blusa",
	filename: "blusa19.jpg"},
	{category: "blusa",
	filename: "blusa20.jpg"},
	{category: "blusa",
	filename: "blusa21.jpg"},
	{category: "blusa",
	filename: "blusa22.jpg"},
	{category: "blusa",
	filename: "blusa23.jpg"},
	{category: "vestido",
	filename: "vestido01.jpg"},
	{category: "vestido",
	filename: "vestido02.jpg"},
	{category: "vestido",
	filename: "vestido03.jpg"},
	{category: "vestido",
	filename: "vestido04.jpg"},
	{category: "vestido",
	filename: "vestido05.jpg"},
	{category: "vestido",
	filename: "vestido06.jpg"},
	{category: "vestido",
	filename: "vestido07.jpg"},
	{category: "vestido",
	filename: "vestido08.jpg"},
	{category: "vestido",
	filename: "vestido09.jpg"},
	{category: "vestido",
	filename: "vestido10.jpg"},
	{category: "vestido",
	filename: "vestido11.jpg"},
	{category: "vestido",
	filename: "vestido12.jpg"},
	{category: "vestido",
	filename: "vestido13.jpg"},
	{category: "vestido",
	filename: "vestido14.jpg"},
	{category: "vestido",
	filename: "vestido15.jpg"},
	{category: "vestido",
	filename: "vestido16.jpg"},
	{category: "vestido",
	filename: "vestido17.jpg"},
	{category: "vestido",
	filename: "vestido18.jpg"},
	{category: "vestido",
	filename: "vestido19.jpg"},
	{category: "vestido",
	filename: "vestido20.jpg"},
	{category: "vestido",
	filename: "vestido21.jpg"},
	{category: "vestido",
	filename: "vestido22.jpg"},
	{category: "vestido",
	filename: "vestido23.jpg"},
	{category: "vestido",
	filename: "vestido24.jpg"},
	{category: "vestido",
	filename: "vestido25.jpg"},
	{category: "blazer",
	filename: "blazer01.jpg"},
	{category: "blazer",
	filename: "blazer02.jpg"},
	{category: "blazer",
	filename: "blazer03.jpg"},
	{category: "blazer",
	filename: "blazer04.jpg"},
	{category: "blazer",
	filename: "blazer05.jpg"},
	{category: "blazer",
	filename: "blazer06.jpg"},
	{category: "blazer",
	filename: "blazer07.jpg"},
	{category: "blazer",
	filename: "blazer08.jpg"},
	{category: "blazer",
	filename: "blazer09.jpg"},
	{category: "blazer",
	filename: "blazer10.jpg"}
];

function categorySelector(selectedCategory) {
	$(".clothing-items").empty();
	for (var i = 0; i < clothing.length; i++) {

		var clothingPiece = clothing[i];

		if (clothingPiece.category === selectedCategory) {
			console.log(clothingPiece.filename);
			$(".clothing-items").append("<div class='col-xs-6 col-md-3'><a href='#' class='thumbnail'><img src= '/assets/" + clothingPiece.filename + "' class='img-responsive' alt='Responsive image'></a></div>");
		}
	}
}